html {
  font-size: 10px; /* px signifie 'pixels': la taille de base pour la police est désormais 10 pixels de haut  */
  font-family: 'Open Sans', sans-serif; /* cela devrait être le reste du résultat obtenu à partir de Google fonts */
}

h1,h2 {
  font-size: 40px;
  text-align: center;
}

h1,h2 {
  margin: 0;
  padding: 1px 0;
  color: black; /* #00539F */
  text-shadow: 2px 2px 1px black; /* ombre horizontal vertical flou */
}

/* Tux */
img {
  display: block;
  /*margin: 0 auto; */ /* 0 auto marge */
  margin-left: auto; /* 200px espace exterieur autour de l'element*/
  margin-right:auto;
  width: 20%; /* 25% agrandir ou diminuer */
  padding: 0px 0px 0px 0px; /* espace en haut et bas proche du contenu haut droite bas gauche*/
}

p {
  font-size: 15px; /* taille de la police */
  line-height: 1.3; /* 2 */
  letter-spacing: 1px;
}

li {
  font-size: 15px;
  line-height: 1.3; /* 2 */
  letter-spacing: 1px;
}

/* gras des titres */
.bold-titre {
  font-weight: bolder; /* gras */
  font-style:italic; /* style du texte */
  font-size: 18px; /* taille de la police */
  text-shadow: 1px 1px 1px black; /* augment le gras */
  color: #006699;
}

/* gras des titres */
.bold-titre1 {
  font-weight: bolder; /* gras */
  font-style:normal; /* style du texte */
  font-size: 16px; /* taille de la police */
  text-shadow: 0px 0px 0px black; /* augment le gras */
  color: #006699;
}


/* gras des textes */
.bold-texte {
  font-weight: bolder; /* gras */
  text-shadow: 0px 0px 0px black; /* ombre horizontal vertical flou  */
}

html {
  background-color: #00539F; /* #00539F contour bleu*/
}

/* mise en page du site */
body {
  width: 920px; /* 600 largeur de cadre orange */
  margin: 0 auto;
  background-color: #FF9500; /* #FF9500 cadre orange */
  padding: 0 20px 20px 20px;
  border: 5px solid black; /* 5 */
}

/* image selection des logiciels */
.box1 { 
  display: block;
  /*margin: 0 auto; */ /* 0 auto marge */
  margin-left: auto; /* 200px espace exterieur autour de l'element*/
  margin-right:auto;
  width: 700px; /* 700px auto agrandir ou diminuer l'image */
  padding: 0px 0px 0px 0px; /* espace en haut et bas proche du contenu haut droite bas gauche*/
}

/* image sources.list */
.box2 {
  display: block;
  /*margin: 0 auto; */ /* 0 auto marge */
  margin-left: 50px; /* 200px espace exterieur autour de l'element*/
  margin-right:auto;
  width: 600px; /* auto agrandir ou diminuer l'image */
  padding: 0px 0px 0px 0px; /* espace en haut et bas proche du contenu haut droite bas gauche*/
}

/* bandeau de fin de page */
.container {
  position: relative;
  width: 100%; /* largeur 100px*/
  height: 50px; /* hauteur 100px*/
  border: 1px solid black;
}

.box3 { 
  display: block;
  width: 40px; /* auto agrandir ou diminuer l'image */
  margin-left: 0px; /* 200px espace exterieur autour de l'element*/
  margin-right: auto;
  float: left;
}

.retour {
  position: absolute;
  margin-left: 47px; /* 200px espace exterieur autour de l'element*/
  margin-right:0px;
  top: 12px; /*position haut, bas */
  font-size: 15px; /* taille */
  color: #006699;
}

.box4 { 
  display: block;
  width: 40px; /* auto agrandir ou diminuer l'image */
  margin-left: 200px; /* 200px espace exterieur autour de l'element*/
  margin-right: auto;
  float: left;
}

.accueil {
  position: absolute;
  margin-left: 146px; /* 200px espace exterieur autour de l'element*/
  margin-right:0px;
  top: 12px; /*position haut, bas */
  font-size: 15px; /* taille */
  color: #006699;
}

.box5 { 
  display: block;
  width: 40px; /* auto agrandir ou diminuer l'image */
  margin-left: 300px; /* 200px espace exterieur autour de l'element*/
  margin-right: auto;
  float: left;
}

.suivant {
  position: absolute;
  margin-left: 243px; /* 200px espace exterieur autour de l'element*/
  margin-right:0px;
  top: 12px; /*position haut, bas */
  font-size: 15px; /* taille */
  color: #006699;
}
/* fin du bandeau de fin de page */ 

/* style lien de page interne */
.lienpage {
text-decoration: none; /* Les liens ne seront plus soulignés */
color: ; /* red Les liens seront en rouge au lieu de bleu */
font-style: ; /* italic Les liens seront en italique */
}
